<h1>Carrito {{cart._id}}</h1>

<ul>
  {{#each cart.products}}
    <li>
      <strong>{{this.product.title}}</strong> - ${{this.product.price}}
      <br>Cantidad: {{this.quantity}}
      <form action="/api/carts/{{../cart._id}}/products/{{this.product._id}}" method="POST">
        <input type="number" name="quantity" value="{{this.quantity}}" min="1">
        <button type="submit">Actualizar cantidad</button>
      </form>
      <form action="/api/carts/{{../cart._id}}/products/{{this.product._id}}" method="POST" class="delete-form">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Eliminar</button>
      </form>
    </li>
  {{/each}}
</ul>

<form action="/api/carts/{{cart._id}}" method="POST" class="delete-all-form">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Eliminar todos los productos</button>
</form>

<a href="/products">Volver a productos</a>
