<h1>{{title}}</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{title}}</strong> - ${{price}}
      <br>{{description}} (Stock: {{stock}})
      <br>Categoría: {{category}}
      <br>Code: {{code}}
      <form action="/api/carts/{{../cartId}}/products/{{_id}}" method="POST" style="display:inline;">
        <button type="submit">Agregar al carrito</button>
      </form>
      <a href="/products/{{_id}}">Ver detalle</a>
    </li>
  {{/each}}
</ul>
ss
